<div class="py-5 text-center">
  <h3>{{match.home_team}} {{match.home_score}} - {{match.away_score}} {{match.away_team}}</h3>
  <p class="lead">{{match.matchday}}</p>
</div>

<ul class="nav nav-pills mb-3" id="matchStats-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="tabInvolvement" data-bs-toggle="pill" data-bs-target="#pillInvolvement"
      type="button" role="tab" aria-controls="pillInvolvement" aria-selected="true">Involvement</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tabExpected" data-bs-toggle="pill" data-bs-target="#pillExpected" type="button"
      role="tab" aria-controls="pillExpected" aria-selected="false">Expected</button>
  </li>
</ul>

<div class="tab-content" id="matchStats-tabContent">
  <div class="tab-pane fade show active" id="pillInvolvement" role="tabpanel" aria-labelledby="tabInvolvement">
    <table id="involvementTable" class="table table-responsive table-bordered">
      <thead>
        <tr role="row" class="tableParentHeader">
          <th colspan="4" class="" rowspan="1"></th>
          <th colspan="4" class="group" rowspan="1">Touches</th>
          <th colspan="4" class="group" rowspan="1">Passes Received</th>
          <th colspan="6" class="group" rowspan="1">Expected/Involvement</th>
        </tr>
        <tr role="row" class="tableChildHeader">
          {{!-- General --}}
          <th rowspan="1" colspan="1" aria-label="Name: activate to sort column descending">Name</th>
          <th rowspan="1" colspan="1" aria-label="Name: activate to sort column descending">Team</th>
          <th rowspan="1" colspan="1" aria-label="Name: activate to sort column descending">Cost</th>
          <th data-bs-toggle="tooltip" title="Minutes Played" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">Mins</th>
          {{!-- Touches --}}
          <th data-bs-toggle="tooltip" title="Total" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">Tot</th>
          <th data-bs-toggle="tooltip" title="Opponent's Half" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">Opp half</th>
          <th data-bs-toggle="tooltip" title="Final Third" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">Fin 3rd</th>
          <th data-bs-toggle="tooltip" title="Minutes per Touches" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">Mins/Tch</th>
          {{!-- Passes --}}
          <th data-bs-toggle="tooltip" title="Total" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">Tot</th>
          <th data-bs-toggle="tooltip" title="Opponent's Half" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">Opp half</th>
          <th data-bs-toggle="tooltip" title="Final Third" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">Fin 3rd</th>
          <th data-bs-toggle="tooltip" title="Minutes per Passes" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">Mins/Pass</th>
          {{!-- Expected --}}
          <th data-bs-toggle="tooltip" title="Assists" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">Assists</th>
          <th data-bs-toggle="tooltip" title="Expected Assists" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">xA</th>
          <th data-bs-toggle="tooltip" title="Goals" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">Goals</th>
          <th data-bs-toggle="tooltip" title="Expected Goals" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">xG</th>
          <th data-bs-toggle="tooltip" title="Expected Goals Involvement" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">xGI</th>
          <th data-bs-toggle="tooltip" title="xGI Delta (Goals + Assists - xGI)" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">xGI &Delta;</th>
        </tr>
      </thead>
      <tbody>
        {{#each players}}
        <tr>
          {{!-- General --}}
          <td>{{this.player_name}}</td>
          <td>{{this.stats.team}}</td>
          <td>{{this.stats.price}}</td>
          <td>{{this.stats.min_played}}</td>
          {{!-- Touches --}}
          <td>{{this.stats.touches.total}}</td>
          <td>{{this.stats.touches.opp_half}}</td>
          <td>{{this.stats.touches.final_3rd}}</td>
          <td>{{this.stats.touches.min_per_touch}}</td>
          {{!-- Passes --}}
          <td>{{this.stats.passes.total}}</td>
          <td>{{this.stats.passes.opp_half}}</td>
          <td>{{this.stats.passes.final_3rd}}</td>
          <td>{{this.stats.passes.mins_per_pass}}</td>
          {{!-- Expected --}}
          <td>{{this.stats.expected.assists}}</td>
          <td>{{this.stats.expected.xA}}</td>
          <td>{{this.stats.expected.goals}}</td>
          <td>{{this.stats.expected.xG}}</td>
          <td>{{this.stats.expected.xGI}}</td>
          <td>{{this.stats.expected.xGI_delta}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="pillExpected" role="tabpanel" aria-labelledby="tabExpected">
    <table id="expectedTable" class="table table-responsive table-bordered">
      <thead>
        <tr role="row" class="tableParentHeader">
          <th colspan="4" class="" rowspan="1"></th>
          <th colspan="5" class="group" rowspan="1">Assists Potential</th>
          <th colspan="7" class="group" rowspan="1">Goal Attempts</th>
          <th colspan="2" class="group" rowspan="1">Goal Conversion</th>
        </tr>
        <tr role="row" class="tableChildHeader">
          {{!-- General --}}
          <th rowspan="1" colspan="1" aria-label="Name: activate to sort column descending">Name</th>
          <th rowspan="1" colspan="1" aria-label="Name: activate to sort column descending">Team</th>
          <th rowspan="1" colspan="1" aria-label="Name: activate to sort column descending">Cost</th>
          <th data-bs-toggle="tooltip" title="Minutes Played" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">Mins</th>
          {{!-- Assists Potential --}}
          <th data-bs-toggle="tooltip" title="Chances Created" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">CC</th>
          <th data-bs-toggle="tooltip" title="Big Chances Created" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">BCC</th>
          <th data-bs-toggle="tooltip" title="Assists" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">A</th>
          <th data-bs-toggle="tooltip" title="Fantasy Assists" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">FA</th>
          <th data-bs-toggle="tooltip" title="Total Assists" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">TA</th>
          {{!-- Goal Attempts --}}
          <th data-bs-toggle="tooltip" title="Penalty Area Touches" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">Pen Tch</th>
          <th data-bs-toggle="tooltip" title="Total" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">Tot</th>
          <th data-bs-toggle="tooltip" title="Inside the Box" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">InBox</th>
          <th data-bs-toggle="tooltip" title="Total Big Chances" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">TBC</th>
          <th data-bs-toggle="tooltip" title="Headed Big Chances" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">HBC</th>
          <th data-bs-toggle="tooltip" title="Shots on Target" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">On</th>
          <th data-bs-toggle="tooltip" title="Minutes per Chances Created" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">Min/Chc</th>
          {{!-- Goal Conversion --}}
          <th data-bs-toggle="tooltip" title="Shot Accuracy" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">Shot Acc</th>
          <th data-bs-toggle="tooltip" title="Goal Conversion" rowspan="1" colspan="1"
            aria-label="Name: activate to sort column descending">Goal Conv</th>
        </tr>
      </thead>
      <tbody>
        {{#each players}}
        <tr>
          {{!-- General --}}
          <td>{{this.player_name}}</td>
          <td>{{this.stats.team}}</td>
          <td>{{this.stats.price}}</td>
          <td>{{this.stats.min_played}}</td>
          {{!-- Assists Potential --}}
          <td>{{this.stats.assist_potential.chances_created}}</td>
          <td>{{this.stats.assist_potential.big_chances_created}}</td>
          <td>{{this.stats.assist_potential.assists}}</td>
          <td>{{this.stats.assist_potential.fantasy_assists}}</td>
          <td>{{this.stats.assist_potential.total_assists}}</td>
          {{!-- Goal Attempts --}}
          <td>{{this.stats.goal_threat.pen_touches}}</td>
          <td>{{this.stats.goal_threat.attempts.total}}</td>
          <td>{{this.stats.goal_threat.attempts.inbox_shot}}</td>
          <td>{{this.stats.goal_threat.attempts.total_big_chances}}</td>
          <td>{{this.stats.goal_threat.attempts.headed_big_chances}}</td>
          <td>{{this.stats.goal_threat.attempts.shots_on_target}}</td>
          <td>{{this.stats.goal_threat.attempts.min_per_chance}}</td>
          {{!-- Goal Conversion --}}
          <td>{{this.stats.goal_threat.conversion.shot_accuracy}}</td>
          <td>{{this.stats.goal_threat.conversion.goal_conversion}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<script>
  $(document).ready(function () {
    var matchDay = $('.lead').text();
    matchDay = new Date(matchDay);
    $('.lead').text(matchDay.toDateString());

    $('#involvementTable').DataTable();
    $('#expectedTable').DataTable();
  });
</script>